{% extends "base.html" %}
{% load i18n %}

{% block meta_title %}{% trans "Program" %}{% endblock %}
{% block og_title %}{% trans "Program" %} | {{ settings.SITE_TITLE }}{% endblock %}
{% block title %}
  {% trans "Program" %}
{% endblock %}
{% block meta_keywords %}{% trans "Program" %}, PyConAPAC, 2014, {% trans "Taiwan" %}, Python, 2014, PyCon, APAC{% endblock %}
{% block meta_description %}{% trans "Program" %}, PyConAPAC 2014, {% trans "Taiwan" %}{% endblock %}

{% block content %}

<div style="margin:0 30px">
  <div class="row">
    <div class="col-md-6">
      <div class="program-day">
        <h3 class="text-center program-date">DAY1 <small>May 17</small></h3>
        <p class="text-center  program-time"><span>09:00</span></p>
        <p class="program-block">{% trans "Opening" %}</p>
        <p class="text-center  program-time"><span>09:20</span></p>
        <p class="program-block">{% trans "Keynote" %} Wes McKinney </p>

        <p class="text-center  program-time"><span>10:10</span></p>
        <p class="program-break">{% trans "Break" %}</p>

        <p class="text-center  program-time"><span>10:40</span></p>
        <div class="program-section"><table class="program-table">
          <tr><th> R0 </th> <td> {% include "demo/_program_title.html" with talk=programs.0.30 %}</td> </tr>
          <tr><th> R1 </th> <td> {% include "demo/_program_title.html" with talk=programs.0.71 %}</td> </tr>
          <tr><th> R2 <span class="SciPy">SciPy</span></th>
            <td>
                {% include "demo/_program_title.html" with talk=programs.0.88 %}</td> </tr>
          <tr><th> R3 </th> <td> {% include "demo/_program_title.html" with talk=programs.0.25 %}</td> </tr>
          <tr><th> R4 </th> <td> {% include "demo/_program_title.html" with talk=programs.0.7 %}</td> </tr>
        </table></div>

        <p class="text-center  program-time"><span>11:10</span></p>
        <div class="program-section"><table class="program-table">
          <tr><th> R0 </th> <td> {% include "demo/_program_title.html" with talk=programs.0.55 %}</td> </tr>
          <tr><th> R1 </th> <td> {% include "demo/_program_title.html" with talk=programs.0.87 %}</td> </tr>
          <tr><th> R2 <span class="SciPy">SciPy</span></th> <td> {% include "demo/_program_title.html" with talk=programs.0.93 %}</td> </tr>
          <tr><th> R3 </th> <td> {% include "demo/_program_title.html" with talk=programs.0.29 %}</td> </tr>
          <tr><th> R4 </th> <td> {% include "demo/_program_title.html" with talk=programs.0.78 %}</td> </tr>
        </table></div>

        <p class="text-center  program-time"><span>11:40</span></p>
        <div class="program-section"><table class="program-table">
          <tr><th> R0 </th> <td> {% include "demo/_program_title.html" with talk=programs.0.81 %}</td> </tr>
          <tr><th> R1 </th> <td> {% include "demo/_program_title.html" with talk=programs.0.51 %}</td> </tr>
          <tr><th> R2 <span class="SciPy">SciPy</span></th> <td> {% include "demo/_program_title.html" with talk=programs.0.35 %}</td> </tr>
          <tr><th> R3 </th> <td> {% include "demo/_program_title.html" with talk=programs.0.6 %}</td> </tr>
        </table></div>

        <p class="text-center  program-time"><span>12:10</span></p>
        <p class="program-break">{% trans "Lunch" %}</p>

        <p class="text-center  program-time"><span>13:30</span></p>
        <p class="program-block">{% trans "Keynote" %} Fernando Perez </p>

        <p class="text-center  program-time"><span>14:20</span></p>
        <p class="program-break">{% trans "Break" %}</p>

        <p class="text-center  program-time"><span>14:30</span></p>
        <div class="program-section"><table class="program-table">
          <tr><th> R0 </th> <td> {% include "demo/_program_title.html" with talk=programs.0.96 %}</td> </tr>
          <tr><th> R1 </th> <td> {% include "demo/_program_title.html" with talk=programs.0.102 %}</td> </tr>
          <tr><th> R2 <span class="SciPy">SciPy</span></th> <td> {% include "demo/_program_title.html" with talk=programs.0.74 %}</td> </tr>
          <tr><th> R3 </th> <td> {% include "demo/_program_title.html" with talk=programs.0.53 %}</td> </tr>
          <tr><th> R4 </th> <td> {% include "demo/_program_title.html" with talk=programs.0.66 %}</td> </tr>
        </table></div>

        <p class="text-center  program-time"><span>15:00</span></p>
        <div class="program-section"><table class="program-table">
          <tr><th> R0 </th> <td> {% include "demo/_program_title.html" with talk=programs.0.60 %}</td> </tr>
          <tr><th> R1 </th> <td>
            <div class="program-edu">教育座談</div>
           </td> </tr>
          <tr><th> R2 <span class="SciPy">SciPy</span></th> <td> {% include "demo/_program_title.html" with talk=programs.0.91 %}</td> </tr>
          <tr><th> R3 </th> <td> {% include "demo/_program_title.html" with talk=programs.0.27 %}</td> </tr>
          <tr><th> R4 </th> <td> {% include "demo/_program_title.html" with talk=programs.0.64 %}</td> </tr>
        </table></div>

        <p class="text-center  program-time"><span>15:30</span></p>
        <div class="program-section"><table class="program-table">
          <tr><th> R0 </th> <td> {% include "demo/_program_title.html" with talk=programs.0.58 %}</td> </tr>
          <tr><th> R1 </th> <td> <div class="program-edu">教育座談</div> </td> </tr>
          <tr><th> R2 <span class="SciPy">SciPy</span></th> <td> {% include "demo/_program_title.html" with talk=programs.0.65 %}</td> </tr>
          <tr><th> R3 </th> <td> {% include "demo/_program_title.html" with talk=programs.0.73 %}</td> </tr>
          <tr><th> R4 </th> <td> {% include "demo/_program_title.html" with talk=programs.0.69 %}</td> </tr>
        </table></div>

        <p class="text-center  program-time"><span>16:00</span></p>
        <p class="program-break">{% trans "Break" %}</p>

        <p class="text-center  program-time"><span>16:30</span></p>
        <p class="program-block">{% trans "Lightning Talks" %}</p>

      </div>
    </div>
    <div class="col-md-6">
      <div class="program-day">
        <h3 class="text-center">DAY2 <small>May 18</small></h3>

        <p class="text-center  program-time"><span>09:00</span></p>
        <p class="program-block">{% trans "Opening" %}</p>

        <p class="text-center  program-time"><span>09:20</span></p>
        <p class="program-block">{% trans "Keynote" %} Jessica McKellar </p>

        <p class="text-center  program-time"><span>10:10</span></p>
        <p class="program-break">{% trans "Break" %}</p>

        <p class="text-center  program-time"><span>10:40</span></p>
        <div class="program-section"><table class="program-table">
          <tr><th> R0 </th> <td> {% include "demo/_program_title.html" with talk=programs.1.97 %}</td> </tr>
          <tr><th> R1 </th> <td> {% include "demo/_program_title.html" with talk=programs.1.99 %}</td> </tr>
          <tr><th> R2 </th> <td> {% include "demo/_program_title.html" with talk=programs.1.23 %}</td> </tr>
          <tr><th> R3 </th> <td> {% include "demo/_program_title.html" with talk=programs.1.67%}</td> </tr>
          <tr><th> R4 </th> <td>
          <div class="program-edu">
            APAC community panel
          </div>
          </td> </tr>
        </table></div>

        <p class="text-center  program-time"><span>11:10</span></p>
        <div class="program-section"><table class="program-table">
          <tr><th> R0 </th> <td> {% include "demo/_program_title.html" with talk=programs.1.70 %}</td> </tr>
          <tr><th> R1 </th> <td> {% include "demo/_program_title.html" with talk=programs.1.28 %}</td> </tr>
          <tr><th> R2 </th> <td> {% include "demo/_program_title.html" with talk=programs.1.95 %}</td> </tr>
          <tr><th> R3 </th> <td> {% include "demo/_program_title.html" with talk=programs.1.40 %}</td> </tr>
          <tr><th> R4 </th> <td>
          <div class="program-edu">
            APAC community panel
          </div>
          </td> </tr>
        </table></div>

        <p class="text-center  program-time"><span>11:40</span></p>
        <div class="program-section"><table class="program-table">
          <tr><th> R0 </th> <td> {% include "demo/_program_title.html" with talk=programs.1.63 %}</td> </tr>
          <tr><th> R1 </th> <td> {% include "demo/_program_title.html" with talk=programs.1.101 %}</td> </tr>
          <tr><th> R2 </th> <td> {% include "demo/_program_title.html" with talk=programs.1.31 %}</td> </tr>
          <tr><th> R3 </th> <td> {% include "demo/_program_title.html" with talk=programs.1.75 %}</td> </tr>
        </table></div>

        <p class="text-center  program-time"><span>12:10</span></p>
        <p class="program-break">{% trans "Lunch" %}</p>

        <p class="text-center  program-time"><span>13:30</span></p>
        <p class="program-block">{% trans "Keynote" %} Stephen McDonald</p>

        <p class="text-center  program-time"><span>14:20</span></p>
        <p class="program-break">{% trans "Break" %}</p>

        <p class="text-center  program-time"><span>14:30</span></p>
        <div class="program-section"><table class="program-table">

          <tr><th> R0 </th> <td> {% include "demo/_program_title.html" with talk=programs.1.s0 %}</td> </tr>
          <tr><th> R1 </th> <td> {% include "demo/_program_title.html" with talk=programs.1.45 %}</td> </tr>
          <tr><th> R2 </th> <td> {% include "demo/_program_title.html" with talk=programs.1.86 %}</td> </tr>
          <tr><th> R3 </th> <td> {% include "demo/_program_title.html" with talk=programs.1.54 %}</td> </tr>
          <tr><th> R4 </th> <td> {% include "demo/_program_title.html" with talk=programs.1.61 %}</td> </tr>
        </table></div>

        <p class="text-center  program-time"><span>15:00</span></p>
        <div class="program-section"><table class="program-table">
          <tr><th> R0 </th> <td>
            <div class="program-keynote">
              {% trans "Keynote" %} Andreas Klöckner
            </div>
           </td> </tr>
          <tr><th> R1 </th> <td> {% include "demo/_program_title.html" with talk=programs.1.41 %}</td> </tr>
          <tr><th> R2 </th> <td> {% include "demo/_program_title.html" with talk=programs.1.36 %}</td> </tr>
          <tr><th> R3 </th> <td> {% include "demo/_program_title.html" with talk=programs.1.46 %}</td> </tr>
          <tr><th> R4 </th> <td> {% include "demo/_program_title.html" with talk=programs.1.44 %}</td> </tr>
        </table></div>

        <p class="text-center  program-time"><span>15:30</span></p>
        <div class="program-section"><table class="program-table">
          <tr><th> R0 </th>
            <td>
            <div class="program-keynote">
              {% trans "Keynote" %} Andreas Klöckner
            </div>
            </td>
          </tr>
          <tr><th> R1 </th> <td> {% include "demo/_program_title.html" with talk=programs.1.84 %}</td> </tr>

          <tr><th> R2 </th> <td> {% include "demo/_program_title.html" with talk=programs.1.37 %}</td> </tr>
          <tr><th> R3 </th> <td> {% include "demo/_program_title.html" with talk=programs.1.38 %}</td> </tr>
          <tr><th> R4 </th> <td> {% include "demo/_program_title.html" with talk=programs.1.26 %}</td> </tr>
        </table></div>

        <p class="text-center  program-time"><span>16:00</span></p>
        <p class="program-break">{% trans "Break" %}</p>

        <p class="text-center  program-time"><span>16:20</span></p>
        <p class="program-block">{% trans "Closing and Taking Photos Together" %}</p>

      </div>
    </div>
  </div>
</div>

<hr>
{% include "_indexsponsors.html" %}

{% endblock %}
